<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	 <bean id="collectionBean" class="com.collection.mapping.CollectionBean">
	 
	 	<property name="addressList">
			<props>
	 			<prop key="고길동">서울시 강남구 역삼동</prop>
	 			<prop key="마이콜">서울시 강서구 화곡동</prop>
	 		</props>	 		
	 	</property>		 
	 </bean>
	
	
	
<!-- 	<map> -->
<!-- 				<entry> -->
<!-- 					<key><value>고길동</value></key> -->
<!-- 					<value>서울시 강남구 역삼동</value> -->
<!-- 				</entry> -->
<!-- 				<entry> -->
<!-- 				<key><value>마이콜</value></key> -->
<!-- 				<value>서울시 강서구 화곡동</value> -->
<!-- 				</entry>						 -->
<!-- 			</map>	 -->
	
	
	

	
	
	
	
<!-- 	<bean id="tv" class="polymorphism.di.setter.SamsungTV" p:speaker-ref="apple" p:price="1270000"> -->
<!-- 		<property name="speaker" ref="apple"></property> --> 
<!-- 		<property name="price" value="1270000"></property> -->
<!-- 	</bean> -->
	
<!-- 	<bean id="sony" class="polymorphism.di.setter.SonySpeaker"></bean> -->
<!-- 	<bean id="apple" class="polymorphism.di.setter.AppleSpeaker"></bean> -->
</beans>
